.table th {
    background-color: #17a2b8 !important; /*#007bff */
    color: white !important;
    vertical-align: middle!important;
  }

.table td {
    vertical-align: middle!important;
  }

.DivFondo {
  background-image: url("../img/fondo.jpeg");background-repeat: no-repeat;background-size: cover;
}
.lowercase-transform{
  text-transform:lowercase ;
}
.zoom{
  width: 400px;
  height: 300px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.transition {
  -webkit-transform: scale(1.8); 
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}